@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@theme {
  --font-display: var(--font-oswald);
  --font-body: var(--font-inter);
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6, .btn, .navbar-start, .card-title {
  font-family: var(--font-display);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}